/* Dark Mode Styles */
.dark-mode {
  background-color: #1a202c;
  color: #e2e8f0;
}

.dark-mode .bg-white {
  background-color: #2d3748 !important;
}

.dark-mode .bg-gray-50 {
  background-color: #1a202c !important;
}

.dark-mode .text-gray-600,
.dark-mode .text-gray-800 {
  color: #e2e8f0 !important;
}

.dark-mode .bg-gray-200 {
  background-color: #4a5568 !important;
}

.dark-mode .border-gray-200 {
  border-color: #4a5568 !important;
}

.dark-mode .shadow-sm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5) !important;
}

.dark-mode nav {
  background-color: #2d3748 !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5) !important;
}

.dark-mode .text-gray-600:hover {
  color: #68d391 !important;
}

/* Estilos específicos para as barras de progresso */
.dark-mode .skill-bar {
  background-color: #2d3748 !important;
}

.dark-mode .h-3.bg-gradient-to-r {
  background-image: linear-gradient(to right, #38a169, #68d391) !important;
}

/* Estilos para as tags de habilidades */
.dark-mode .bg-green-100,
.dark-mode .bg-purple-100,
.dark-mode .bg-blue-100,
.dark-mode .bg-orange-100,
.dark-mode .bg-pink-100 {
  background-color: rgba(74, 85, 104, 0.5) !important;
  color: #e2e8f0 !important;
}

/* Estilos para as seções de experiência */
.dark-mode .bg-white.rounded-lg {
  background-color: #2d3748 !important;
  border-color: #4a5568 !important;
}

.dark-mode .text-gray-500 {
  color: #a0aec0 !important;
}

.dark-mode .text-gray-600 {
  color: #e2e8f0 !important;
}

/* Estilos para os cards de projetos */
.dark-mode .project-card {
  background-color: #2d3748 !important;
}

.dark-mode .project-card .bg-gray-50 {
  background-color: #2d3748 !important;
}

/* Estilos para o formulário de contato */
.dark-mode #contact {
  background-color: #1a202c !important;
}

.dark-mode #contact, .bg-black {
  background-color: #2d3748 !important;
}

.dark-mode #contact,  input,
.dark-mode #contact,  textarea {
  background-color: #4a5568 !important;
  color: #e2e8f0 !important;
  border-color: #4a5568 !important;
}

.dark-mode #contact,  input::placeholder,
.dark-mode #contact,  textarea::placeholder {
  color: #a0aec0 !important;
}

.dark-mode #typed-text, #mobile-menu {
    color: #ffffff !important;
  }

  .dark-mode #mobile-menu {
    background-color: #1a202c !important;
    color: #ffffff !important;
  }
  .dark-mode #mobile-menu a,
  .dark-mode #mobile-menu button {
    color: #e2e8f0 !important;
    border-color: #4a5568 !important;
  }
  